body {
    font-family: Arial, Helvetica, sans-serif; /* Police d'écriture */
    text-align: center; /* Aligner le texte */
}

#board {
    height: 540px; /* Haute de 540 pixels */
    width: 630px; /* Largeur de 630 pixels */
    background-color: blue; /* Couleur d'arrière plan bleu */
    border: 10px solid navy; /* Bordure de 10 pixels marine */
    
    margin: 0 auto; 
    display: flex; /* Permet de s'adapter au format de l'écran */
    flex-wrap: wrap;
}

.tile {
    height: 70px; /* Hauteur de 70 pixels */
    width: 70px; /* Largeur de 70 pixels */
    margin: 5px; /* Marge de 5 pixels */

    /* Cercle */
    background-color: white; /* Couleur d'arrière plan */
    border-radius: 50%; /* Marge entre les cercles */
    border: 5px solid navy; 
}

.red-piece {
    background-color: red; /* couleur de la pièce */
}

.yellow-piece {
    background-color: yellow; /* couleur de la pièce */
}
